.section-statistics,
.section-chart,
.section-verification {
  padding: 5rem 0;
}

/* Styling The verification queue */
.users-items-container {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
}

.users-items-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
