.form-settings {
  width: 80%;
}
.form-input {
  width: 100%;
  background-color: var(--light-grey);
  border: none;
  padding: 2rem;
  border-radius: 5rem;
}

/* form-input blue */
.form-input--2 {
  width: 100%;
  border: none;
  padding: 1.75rem 2rem;
  background-color: #31398b;
  border-radius: 5px;
  color: var(--secondary);
}

.form .heading-secondary--blue {
  margin-top: 2.5rem;
}
.form-input--2:focus {
  outline: 2px solid var(--secondary);
}

/* Form input with logo */
.input-wrap {
  position: relative;
}

/* Icon of the form input */
.form-input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: var(--light-primary);
}

.form-input--logo {
  padding-left: 3.6rem;
}

.form-input-- .form-input--logo .form__input--blue {
  color: var(--light-blue);
}

.form-input--small {
  padding: 1rem 2rem;
  background-color: white;
}

.form-input--grey {
  background-color: var(--light-grey);
  display: none;
}

.form-input:focus {
  outline: 2px solid var(--secondary);
}

.form-input:not(:last-child) {
  margin-bottom: 2.5rem;
}

label {
  margin-bottom: 1rem;
}

form button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem !important;
}

form button:not(:last-child) {
  margin-bottom: 1rem;
}

.form-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.form-btn-box button {
  border: none !important;
}

.form-btn-box > button {
  flex: 1;
}

input[name="stock"] {
  display: none;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #f5f2fb;
  padding: 1.5rem 1.5rem;
  border-radius: 999px;
}

.filter-bar--column {
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.filter-bar--aligned {
  justify-content: left;
}

.filter-bar__select {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  color: var(--secondary);
  cursor: pointer;
  outline: none;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.filter-bar__select--grey {
  background-color: var(--light-grey);
  padding: 0.75rem;
}

.filter-tabs {
  display: flex;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 2rem;
}

.filter-tabs input[type="radio"] {
  display: none;
}

.filter-tab {
  border-radius: 999px;
  font-size: 1.2rem;
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0;
  padding: 1rem 1.5rem;
}

.filter-tab--active {
  background-color: var(--primary);
  color: white;
  height: 100%;
}

.filter-search {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 37.5em) {
  .filter-bar--column {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .filter-search {
    display: flex;
    margin: 0;
  }

  .form-input--small {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 56.25em) {
  .form-input--grey {
    display: block;
  }
}
.filter-search input {
  margin-bottom: 0;
}

/* active state */
#all:checked ~ .filter-tabs label[for="all"],
#in-stock:checked ~ .filter-tabs label[for="in-stock"],
#low-stock:checked ~ .filter-tabs label[for="low-stock"] {
  background-color: var(--primary);
  color: white;
}

.form-btn__icon {
  color: var(--primary);
  cursor: pointer;
}

.input--error {
  border: 2px solid red !important;
  outline: none;
}
