.status-indicator {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: var(--green);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.status-indicator--sm {
  width: 16rem;
}

.status-indicator--green {
  background-color: var(--light-green);
}

.status-indicator--grey {
  background-color: #f1eefc;
  color: var(--secondary);
}

.status-indicator--orange {
  background-color: var(--);
}

.status-indicator--red {
  background-color: var(--light-red);
  color: var(--red);
  letter-spacing: 1px;
}

.status-indicator--primary {
  background-color: var(--primary);
  color: white;
}

.status-indicator--blue {
  background-color: #dfddee;
  color: var(--primary);
}

.status-indicator--yellow {
  background-color: var(--light-yellow);
  color: var(--orange);
}
